.meal-description {
    display: flex;
    flex-direction: column;
}

.meal-description h1 {
    margin: 0;
    font-size: small;
}

.describe {
    margin: 0;
    font-size: smaller;
    font-style: italic;
}

.price {
    margin: 0;
    font-size: small;
    font-weight: 900;
    color: brown;
}