.cart-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    width: 15rem;
    height: 3rem;
    border-radius: 30px;
    font-weight: bold;
    border-style: none;
}

.cart-icon {
    width: 10%;
    height: 10%;
    margin-top: -7%;
}

.cart-counter {
    border-radius: 100%;
    background-color: brown;
    color: white;
    padding: 3% 5%;
    font-weight: bold;
}