.cart-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.cart-item p {
    font-size: small;
    color: brown;
    font-weight: bolder;
}

.divider {
    border: 2px solid brown;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
}

.cart-btns {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    height: 25%;
}

.cart-btns button {
    margin: 5%;
    padding: 2% 15%;
    border-radius: 5px;
    color: brown;
    border: .025px solid brown;
    background-color: white;
    font-weight: bold;
    font-size: small;
}